/* Ajax */

#ajax-loader {
    display: none;
    margin-bottom: 0px;
    margin-left: 5px;
}

/* Body */

body {
   background: #f66;
   font-family: Lucida Sans, Verdana, sans-serif;
}

#container {
   background: #ffffff;
   margin: 1em;
   padding: 1em;
   box-shadow: 4px 4px 3px 3px #966;
}

/* Title */

h1 {
   font-size: 1.6em;
   text-align: center;
   margin-bottom: 1em;
}

#title .username {
    float: right;
}

#title .username img {
  vertical-align: middle;
}

#title .logout {
  font-size: 0.8em;
  padding-right: 0.4em;
}

/* Menu */
#menu {
  background: #fee;
  padding: 0.2em 0.2em 0em 0.2em ;

}

#menu li {
 display: inline-block;
}

#menu span {
  background: #fdd;
}

#menu a {
  background: #edd;
  cursor: pointer;
}

#menu a, #menu span {
  display: inline-block;
  margin: 0.2em 1.8em 0em 0.2em;
  padding: 0.2em 1em 0.2em 1em;
  box-shadow: 2px -1px 1px 0px #999;
  border-radius: 5px 5px 0px 0px;
  text-decoration: none;
  color: black;
}

#menu a:hover {
  background: #fdd;
}

#menu a:active {
  box-shadow: inset 1px 1px 1px 1px #999;
}

/* Content */

#contentContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Lists */
#list td, #list th {
  padding: 2px;
  min-width: 10em;
}

#list th {
  font-weight: bold;
  background-color: #eee
}

#list .good {
  color: green;
}

#list button {
  margin-left: 0.4em;
}

/* Specific forms */

#createNewWords {
  border-top: solid 1px #aaa;
  margin-top: 2em;
  padding-top: 1em;
}

#createNewWords td {
  vertical-align: middle;
}

#createNewWords textarea {
  margin-left: 1em;
  height: 5em;
  width: 25em;
}

#checkText textarea {
  width: 40em;
  height: 10em;
}

#checkText button {
  clear: both;
  display: block;
  margin-top: 0.5em;
}
